<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <!-- white list for allowed URLs used by proxy.ashx in EJScreen -->
    <serverUrls>        
        <serverUrl url="https://apps.fs.usda.gov" matchAll="true"/>		
		<serverUrl url="https://arcgis.github.io" matchAll="true"/>
		<serverUrl url="https://carto.nationalmap.gov" matchAll="true"/>
        <serverUrl url="https://coast.noaa.gov" matchAll="true"/>        
    	<serverUrl url="https://echo.epa.gov" matchAll="true"/>
    	<serverUrl url="https://ejscreen.epa.gov" matchAll="true"/>    	
    	<serverUrl url="https://enviro.epa.gov" matchAll="true"/>
        <serverUrl url="https://enviroatlas.epa.gov" matchAll="true"/>        
		<serverUrl url="https://files.airnowtech.org" matchAll="true"/>        
        <serverUrl url="https://geodata.epa.gov" matchAll="true"/>
		<serverUrl url="https://geo.dot.gov" matchAll="true"/>		
    	<serverUrl url="https://geopub.epa.gov" matchAll="true"/>
        <serverUrl url="https://ghgdata.epa.gov" matchAll="true"/>
		<serverUrl url="https://gis.blm.gov" matchAll="true"/>
		<serverUrl url="https://gis.fws.gov" matchAll="true"/>
    	<serverUrl url="https://gispub.epa.gov" matchAll="true"/>  
		<serverUrl url="https://hazards.fema.gov" matchAll="true"/> 
		<serverUrl url="https://idpgis.ncep.noaa.gov" matchAll="true"/>
		<serverUrl url="https://landscape.blm.gov" matchAll="true"/>
		<serverUrl url="https://maps1.arcgisonline.com" matchAll="true"/>	
		<serverUrl url="https://marine.usgs.gov" matchAll="true"/>		
        <serverUrl url="https://ofmpub.epa.gov" matchAll="true"/>  
        <serverUrl url="https://raster.nationalmap.gov" matchAll="true"/>    
		<serverUrl url="https://sampleserver1.arcgisonline.com" matchAll="true"/>  	
		<serverUrl url="https://sdmdataaccess.sc.egov.usda.gov" matchAll="true"/>		
        <serverUrl url="https://services.arcgis.com" matchAll="true"/> 
        <serverUrl url="https://services1.arcgis.com" matchAll="true"/>         
        <serverUrl url="https://services.arcgisonline.com" matchAll="true"/> 
        <serverUrl url="https://www.waterqualitydata.us" matchAll="true"/>           
        <serverUrl url="https://watersgeo.epa.gov" matchAll="true"/>
        <serverUrl url="https://www.airnowapi.org" matchAll="true"/>
        <serverUrl url="https://www.coast.noaa.gov" matchAll="true"/>  
		<serverUrl url="https://www.fws.gov" matchAll="true"/>  		
		<serverUrl url="https://www.mrlc.gov" matchAll="true"/> 
		<serverUrl url="https://services7.arcgis.com" matchAll="true"/>
		<serverUrl url="https://tiles.arcgis.com" matchAll="true"/>	
		<serverUrl url="https://web.archive.org" matchAll="true"/>		
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->