<div style="padding: 10px 5px;">


    <form target="_blank" id="infoform" method="post">
        <input type="hidden" name="coords" data-dojo-attach-point="coordNode" value="" />
        <input type="hidden" name="type" data-dojo-attach-point="gtypeNode" value="" /> Name:
        <input name="ptitle" data-dojo-attach-point="titleNode" data-dojo-attach-event="onchange: _setValue" maxlength="200" type="text" style="width: 180px;" value="" />
        <br />

        <div data-dojo-attach-point="bufferNode" style="display: none; margin-top: 4px;">
            Buffer:
            <input type="text" name="radius" data-dojo-attach-point="distNode" data-dojo-attach-event="onchange: _setValue" size="3" maxlength="10" value="" />
            <select name="unit" data-dojo-attach-point="unitNode" data-dojo-attach-event="onchange: _setValue">
            <option value="miles" selected>mi</option>
            <option value="kilometers">km</option>
            </select>
            <input type="button" value="Add to Map" data-dojo-attach-event="onclick: _addBuffer2Map" />
        </div>
        <br />
        <ul>
			<li class="pdf">
                <a href="javascript: void(0);" data-dojo-attach-event="onclick: _getEJscreen" id="ejsrpt" class="bold-link">EJScreen Community Report</a>
            </li>
            <li class="chart">
                <a href="javascript: void(0);" data-dojo-attach-event="onclick: _showCharts" value="test">Explore Charts</a>
            </li>           
			
            <li class="pdf"><a href="javascript: void(0);" data-dojo-attach-event="onclick: _getDemogReport" id="acs2022">Socioeconomic (ACS) Report</a></li>
            <!--
            <li data-dojo-attach-point="demog2010Node" class="pdf"><a href="javascript: void(0);" data-dojo-attach-event="onclick: _getDemogReport" id="demog2010">Get 2010 Census report...</a></li>
            <li data-dojo-attach-point="demog2000Node" class="pdf"><a href="javascript: void(0);"  data-dojo-attach-event="onclick: _getDemogReport" id="demog2000">Get 2000 Census report...</a></li>
            <li data-dojo-attach-point="cdcNode" class="pdf"><a href="javascript: void(0);" data-dojo-attach-event="onclick: _getCDCReport" id="cdcReport">Get CDC report...<span class="exit-disclaimer" title="EPA's External Link Disclaimer">Exit EPA</span></a></li>
			-->
        </ul>
		<br/>
        <a href="javascript: void(0)" data-dojo-attach-event="onclick: _deleteGraphic">Delete this site</a>
    </form>

</div>