<div style="overflow: auto; ">
<div id="siteinfo" style="margin: 4px 4px 4px 4px; font-weight: bold; text-align: center; font-size: 10pt;">

</div>
<hr />
<div id="indexDiv" class="tabArea">
            
</div>

<form id="chartform" target="_blank">
     <input name="coords" value="" type="hidden" />
        <input name="feattype" value="" type="hidden" />
        <input name="radius" value="" type="hidden" />
        <input name="unit" value="" type="hidden" />
        
            <div class="tabMain">
     
        <div id="ejindexContent"></div>
       
    </div>
    <br />
    <div id="ejlegendNode" style="left: 20px;width: 92%;text-align: center;"></div>
    <br />
    <div id="ejchartNode" style='width: 96%; height: 300px; position: relative;text-align: center; vertical-align: middle;'></div>
    <div id="subnote" style="font-style: italic; font-size: 8pt; display:none;width: 92%;text-align: center;">(*A mid-point of the percentile range is used to chart the diesel particulate matter parameters.)<br /></div>
    <br />
    <div style="width: 92%; text-align: right;position: relative;">
     <!--<input data-dojo-attach-event="onclick: _genChart" value="EJScreen Chart" type="button" />-->
        <input data-dojo-attach-point="tabularNode" data-dojo-attach-event="onclick: _genTabular" value="Get Data Table" type="button" alt="Get Data Table" title="Get Data Table" disabled />
        <!--<input data-dojo-attach-event="onclick: _ejscreenHTML" value="EJScreen Report" type="button" />-->
    </div>
    </form>
    
</div>
