<div>
<form action='EchoHandler.ashx?check=true' id='csvForm1' method='post'>
<input type='hidden' name='hiddenInput' id='hiddenInput' value='' />
<input type='hidden' name='title' value='' />
<table style="width: 100%"><tr>
<td align="center" id="tabletitle">Title</td>
<td align="right"><img src="images/save.png" alt="Download tabular data"  data-dojo-attach-event="onclick:_exportdata" alt="Export" title="Export" /></td>
</tr></table>
<div id="gridDiv" style="position: absolute;width: 100%; height: 80%; display: none;"></div>
</form>
</div>
