<div>
        <div data-dojo-attach-point="idinfoNode" style='background-color: #E1EBF4; padding: 4px 4px 4px 4px; border: 1px solid #999; height: 160px; overflow-y: auto;'>        

        </div>
        <br />
        <input data-dojo-attach-point="idbtnNode" style="width: 130px; display: none;" data-dojo-attach-event="onclick: _convertGraphic" value="Generate Report" type="button" />
        <br />
        <div data-dojo-attach-point="idnoteNode" style="display:none;font-style: italic;font-size: 8pt;">(The area exceeds the size or is too complex for reporting.)</div> 
</div>
