<div class="tab-pane active" id="details">
	<table width="100%">
		<tbody>
			<tr>
				<td>
					<input type="radio" name="pcttype" value="nation" checked="" disabled /><span id="nationlabel"
						class="labelDisabled">Compare to US&nbsp;</span>
					<input type="radio" name="pcttype" value="state" disabled /><span id="statelabel"
						class="labelDisabled">Compare to State</span>
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<tbody>
			
			<tr>
				<td>
					<div id="pollutionData" class="divBtn" style="padding: 0px"></div>
					<!-- <div id="envIndicatorsSubCategories" style="display: none" class="divBtnSub scrollwin"></div> -->
					<div id="envIndicatorsSubCategories" style="display: none" class="divBtnSub"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="demographicData" class="divBtn" style="padding: 0px"></div>
					<!-- <div id="demographicIndicatorsSubCategories" style="display: none" class="divBtnSub scrollwin"></div> -->
					<div id="demographicIndicatorsSubCategories" style="display: none" class="divBtnSub"></div>
				</td>
			</tr>
           <tr>
				<td>
					<div id="envJusticeMaps" class="divBtn" style="padding: 0px"></div>
					<!-- <div id="ejIndexesSubCategories" class="divBtnSub scrollwin" style="display: none"></div> -->
				    <div id="ejIndexesSubCategories" class="divBtnSub" style="display: none"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="envJusticeMapsSupp" class="divBtn" style="padding: 0px"></div>
					<!-- <div id="ejIndexesSubCategoriesSupp" class="divBtnSub scrollwin" style="display: none"></div> -->
					<div id="ejIndexesSubCategoriesSupp" class="divBtnSub" style="display: none"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="climateChangeData" class="divBtn" style="padding: 0px"></div>
					<div id="climateChangeDataCategories" style="display: none" class="divBtnSub"></div>
					<!-- <div id="climateChangeDataSubCategories" style="display:none" ></div>   -->
				</td>
			</tr>
			<tr>
				<td>
					<div id="healthDisparitiesData" class="divBtn" style="padding: 0px"></div>
					<div id="healthDisparitiesDataCategories" style="display: none" class="divBtnSub"></div>
				</td>
			</tr>
			
			<tr>
				<td>
					<div id="criticalData" class="divBtn" style="padding: 0px"></div>
					<div id="criticalDataCategories" style="display: none" class="divBtnSub"></div>
				</td>
			</tr>
			
		</tbody>
	</table>
</div>